/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ****BASIC TO THE CODES START**** */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

:root {
  --nav-text-color: #191919;
  --nav-tel-bg-color: #00BAFC;
  --nav-tel-text-color: #FFFFFF;
  --nav-link-color: #000000;
  --nav-link-active: #191919b3;
  --nav-tel-active-color: #00bafc99;
  --main-hover-color: #00bafccc;
  --main-active-color: #00bafc99;
}

body {
  font-family: 'Open Sans';
}

/* ****BASIC TO THE CODES END**** */

/* ****HEADER START**** */
.header {
  background-color: var(--nav-tel-text-color);
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header__nav_link-intro:active {
  opacity: .4;
}

.header__nav {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0;
}

.header__nav_list_item-link {
  padding: 16px;
  position: relative;
  color: var(--nav-link-color);
}

.header__nav_list_item-link:hover::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--nav-link-active);
}

.header__nav_list_item-link:active {
  background-color: var(--nav-link-active);
  color: var(--nav-tel-text-color);
}

.header__nav_list_item-link:active::after {
  background-color: transparent;
}

.header__nav_list_item-tel {
  padding: 8px 13px;
  background-color: var(--nav-tel-bg-color);
  color: var(--nav-tel-text-color);
  border-radius: 5px;
  border: 3px solid var(--nav-tel-bg-color);
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
}

.header__nav_list_item-tel:hover {
  background-color: transparent;
  color: var(--nav-tel-bg-color);
}

.header__nav_list_item-tel:active {
  background-color: var(--nav-tel-active-color);
  border: 3px solid transparent;
}

/* ****HEADER END**** */

/* ****MAIN START**** */
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 140px 0 0 0;
}

.main__container_box-title {
  max-width: 470px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: var(--nav-link-color);
}

.main__container_box-paragraph {
  max-width: 465px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--nav-link-color);
  margin: 0 0 25px 0;
}

.main__container_box-link {
  background-color: var(--nav-tel-bg-color);
  color: var(--nav-tel-text-color);
  padding: 8px 16px;
  border-radius: 5px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
}

.main__container_box-link:hover {
  background-color: var(--main-hover-color);
}

.main__container_box-link:active {
  background-color: var(--main-active-color);
}

.main__container_box-img {
  max-width: 458px;
  width: 100%;
  height: 258px;
}

/* ****MAIN END**** */

/* ****SECTION START**** */
.section__card_content {
  margin: 135px 0 0 0;
  text-align: center;

}

.section__card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 70px;
  margin: 25px 0 0 0;
}


.section__card_content-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--nav-link-color);
}

.section__card_content-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 719px;
  width: 100%;
  margin: 16px auto 0 auto;
}


.section__card_container_box {
  width: 320px;
  height: 260px;
  background-color: var(--nav-tel-text-color);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  cursor: pointer;
}

.section__card_container_box:hover {
  -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.section__card_container_box:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.section__card_container_box-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--nav-link-color);
  margin: 15px 0;
}

.section__card_container_box-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--nav-link-color);
}

.section__card_links {
  text-align: center;
  margin: 40px 0 0 0;
}

.section__card_links-btn {
  background-color: var(--nav-tel-bg-color);
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--nav-tel-text-color);
  border-color: transparent;
  cursor: pointer;
  margin: 0 16px 0 0;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
}

.section__card_links-btn:hover {
  background-color: var(--main-hover-color);
}

.section__card_links-btn:active {
  background-color: var(--main-active-color);
}

.section__card_links-link {
  color: var(--nav-tel-bg-color);
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* ****SECTION END**** */

.products_cointainer{
  width: auto;
  height: 300px;

}
.pro{
  width: 720px;
  margin: 0 auto;
  margin-top: 56px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
 
}

.prop{
  margin-top: 16px;
  font-size: 16px;
}
.info1{
  margin:30px 234px ;
display: flex;
justify-content: center;
}
.inf12{
  text-align: center;
 justify-content: center;
 margin: 80px 66px;
 font-size: 20px;
}
.inf1h{
  font-size: 24px;
}
.inf2{
width: 500px;
margin: 20px;
text-align: center;
position: relative;
top: 120px;
left: 25px;

}
.inf2h{
  font-size: 24px;
}
.inf{
  position: relative;
  left: 250px;
}
.zak{
  justify-content: center;
  text-align: center;
}
.inputs_box{
  margin-top: 64px;
  background-color:#00BAFC;
  height: 543px;
text-align: center;
}
.inputh{
  margin-top: 53px;
}
.inputs{
  color:azure;
  margin-top: 56px;
  position: relative;
  top: 50px;
  left: 30%;
  width: 600px;

}
.realinput{
 margin: 120px;
  width: 348px;
  height: 304px;
  background-color:#FFFFFF;
  margin-top: 30px;
  border-radius: 8px;
  padding: 15px;
}
.inp{
  width: 300px;
  height: 56px;
  margin-bottom: 24px;
  border-radius: 6px;
  background-color:#F3F3F3;
}
.footbox{
  width: auto;
  background-color:#000000;
  color: #FFFFFF;
  display: flex;
}
.foots{
  width: 328px;
  height: 120px;
  text-align: center;
position: relative;
left: 50px;
}
.footh{
  font-size: 20px;

}
.ul_lists{ 
  margin: 56px 400px;

}
.li_list{
  margin-top: 20px;
  font-size: 22px;
}
.li_st{
  color:#00BAFC;
}
.ul_lists2{ 
  margin: 56px 0px;

}
.pop{
  padding: 0px 10px ;
}
.p2p{
  position:relative;
  top:90px;
}
.cop{
  font-size: 20px;
  position: relative;
  top: 70px;
}.boxx{
  height: 200px;
  text-align: center;
margin-top: 100px;
background-color: #FFFFFF;
}
.p2x{
  width: 800px;
  height: 80px;
  position: relative;
  left: 25%;

}
.xmain{
  position: relative;
  top: 65px;
 background-color:
#F4F4F4;
  padding:50px 25%;
}
.xbox{
  width: 804px;
  height: 378px;
  background-color: #ffffff;
  margin: 60px;
display: flex;
border-radius: 10px 10px;
transition: all 0.5s ease;
}
.illusion{
  padding: 50px;


}
.imgg{
  width: 60px;
  height: 60px;
}

.infoes{
width: auto;
  height: 300px;
  margin: 0 230px;
}
.xbox:hover{
  background-color: silver;
}
.li_st:hover{
  color:#00b9fcb4;
}